<head>
    <meta charset="utf-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="shortcut type=" image/x-icon " icon" href="/assets/img/favicon.ico">
    <link rel="bookmark" type="image/x-icon" href="/assets/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/module/default/default.css">
    <script type="text/javascript" src="/assets/lib/require/require.min.js" defer async="true"></script>
    <script type="text/javascript" src="/assets/module/require.config.js" defer async="true"></script>
    <script type="text/javascript" src="/assets/module/default/dafault.js" defer async="true"></script>
</head>