
<div class="row">
    <div class="col-md-4">
        <img alt="java1234开源博客系统" src="/assets/img/module/default/logo.png">
    </div>
    <div class="col-md-8">
        <iframe style="float: right;" width="420" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=5"></iframe>
    </div>
</div>


<div class="row">
    <div class="col-md-12" style="padding-top: 10px">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/index.html"><font color="black"><strong>首页</strong></font></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
              <ul class="nav navbar-nav">
                <!-- <li><a href="#"><font color="black"><strong>Java1234官网</strong></font></a></li> -->
                <!-- <li><a href="#"><font color="black"><strong>Java学习路线图</strong></font></a></li> -->
                <!-- <li><a href="#"><font color="red"><strong>Java1234 VIP项目</strong></font></a></li> -->
                <li><a href="#"><font color="black"><strong>关于博主</strong></font></a></li>
                <li><a href="#"><font color="black"><strong>本站源码下载</strong></font></a></li>
              </ul>
              <form action="${pageContext.request.contextPath}/blog/q.html" class="navbar-form navbar-right" role="search" method="post" onsubmit="return false">
                <div class="form-group" >
                  <input type="text" id="q" name="q" value="" class="form-control" placeholder="请输入要查询的关键字...">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>