---
layout: default
---

<div class="data_list">
    <div class="data_list_title">
        <img src="/assets/img/module/default/list_icon.png" />
        <span>最新博客</span>
    </div>
    <div class="datas">
        <ul>
            {% for post in paginator.posts %}
            <li style="margin-bottom: 30px">
                <span class="title"><a href={{ post.url }}>{{ post.title }}</a></span>
                <span class="summary">摘要: {{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</span>
                <span class="info">发表于 {{ post.date | date: "%F"}} 阅读(<span data-hk-page="{{ post.url }}"> - </span>) 评论(0) </span>
            </li>
            <hr style="height:5px;border:none;border-top:1px dashed gray;padding-bottom:  10px;" /> 
            {% endfor %}
        </ul>



        {% if paginator.total_pages > 1 %}
        <ul class="pagination">

            {% if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path }}">&laquo;</a></li>
            {% else %}
                <li ><span>&laquo;</span></li>
            {% endif %}


         {% for page in (1..paginator.total_pages) %}
             {% if page == paginator.page %}
                <li class="active"><span>{{ page }}</span></li>
             {% elsif page == 1 %}
                <li><a href="/" >{{ page }}</a></li>
             {% else %}
                <li><a href="{{ '/' | append: site.paginate_path  | replace: ':num', page }}" >{{ page }}</a></li>
             {% endif %}
         {% endfor %}


             {% if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path }}">&raquo;</a></li>
             {% else %}
                <li><span>&raquo;</span></li>
             {% endif %}
        </ul>
        {% endif %}

    </div>
</div>
